.cards {
    display: flex;
    flex-direction: column;
    padding: 10px 4px;
    gap: 32px;
    margin-bottom: 20px;
}

.first-row,
.second-row {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.card {
    border: 0.1px solid #434d72;
    padding: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    border-radius: 10px;
    background: linear-gradient(135deg, rgb(106, 3, 138), rgb(33, 57, 95), rgb(3, 22, 53));
    color: white;
    width: 100%;
}

.card1,
.card2,
.card3,
.card4 {
    width: 100%;
}

.card p {
    font-size: clamp(14px, 3.5vw, 18px);
    font-weight: 100;
    line-height: 1.6;
    text-align: left;
}

.card p span {
    font-weight: 600;
}

/* Desktop view */
@media (min-width: 768px) {
    .first-row,
    .second-row {
        flex-direction: row;
    }

    .card1 {
        width: 60%;
    }

    .card2 {
        width: 40%;
    }

    .card3 {
        width: 40%;
    }

    .card4 {
        width: 60%;
    }

    .card {
        padding-top: 300px;
    }
}
